<% layout('layouts/boilerplate') %>
<h1 class="text-center">New Blog</h1>
<div class="col-6 offset-3">

    <form action="/blog" method="POST" enctype="multipart/form-data" class="mb-3 validated-form" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" required> 
        </div>
        <div class=" mb-3" >
            <label for="body" class="form-label" >Post body</label>
            <textarea class="form-control" 
                placeholder="Your post..." id="body" 
                name="body" style="min-height: 500px;" required></textarea>

        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <a href="/blog">Return to blog</a>
      </form>
    
</div>

