<%  layout('layouts/boilerplate') %>
<link rel="stylesheet" href="stylesheets/home.css">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <main class="px-3 flex-sm-grow-1">
        <img src="/images/avatar.png" class='avatar mb-4' alt="">
        <h1>Hi, I'm Michael.</h1>
        <p class="my-5">I have  a deep-rooted passion for safeguarding digital landscapes. 
            In the ever-evolving world of technology, security is not just a profession for 
            me; it's a calling. My journey in this field is driven by the challenge of staying
             one step ahead of threats.
        </p>
        <p class="my-5">My expertise lies in implementing robust security protocols, conducting thorough
            vulnerability assessments, and developing strategies that fortify applications against the 
            sophisticated threats of today and tomorrow. I believe in a proactive approach to security,
            where prevention is key, and continuous learning is a necessity.
        </p>
    </main>
</div>
