<%  layout('layouts/boilerplate') %>

<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col text-center mb-3">
        <a href="images/resume.pdf" download="images/resume.pdf" class="btn btn-primary">Download Resume</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <img src="images/resume.png" class="img-fluid shadow" alt="Resume" style="border: 3px solid black;">
      </div>
    </div>
  </div>
  